<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <label>Email
  <input type="text" name="email" />
  </label>
  <br />
  <label>First Name
  <input type="text" name="first" />
  </label>
  <br />
  <label>Last Name
  <input type="text" name="last" />
  </label>
  <br />
  <label>Password
  <input type="Password" type="text" name="pass1" />
  </label>
  <br />
  <label>Re-type Password
  <input type="Password" type="text" name="pass2" />
  </label>
  <br />
  <input type="submit" name="Submit2" value="Submit" />
  </label>
  <p><br />
  </p>
</form>
</body>
</html>
